body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.title {
  background-color: rgba(0,0,0,.1)
}

.card {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
}

.isLate {
  background-color: rgb(207, 0, 0);
}

.dueSoon {
  background-color: rgb(201, 201, 0);
}

.deleteButton {
  position: absolute;
  background: red;
  height:20%;
  width:20%;
  color:white;
}